<div class="flex flex-col items-end mr-16 ml-32">
  <div class="flex flex-row space-x-4">
  <button
    class="bg-blue-500 text-white hover:bg-blue-400 font-bold text-sm p-2 rounded shadow-sm hover:shadow-xl mb-2"
    type="button"
    (click)="toggleRequestDeviceModal()"
  >
    Request a device
  </button>

  <button
    class="bg-blue-500 text-white hover:bg-blue-400 font-bold text-sm p-2 rounded shadow-sm hover:shadow-xl mb-2"
    type="button"
    (click)="toggleAddDeviceModal()"
  >
    Add Device
  </button>
</div>

  <app-request-device-prompt [isRequestDeviceVisible]="isRequestDeviceVisible" (closeRequestModal)="toggleRequestDeviceModal()" (RequestDeviceModal)="ReqDevice($event)"></app-request-device-prompt>
  <app-add-device-prompt [isAddDeviceVisible]="isAddDeviceVisible" (closeAddModal)="toggleAddDeviceModal()" (AddDeviceModal)="addRow($event)"></app-add-device-prompt>
  <app-del-device-prompt [isDelDeviceVisible]="isDelDeviceVisible" (closeDelModal)="toggleDelDeviceModal()" (delDevice)="delDevice($event)"></app-del-device-prompt>
  <app-handover [isHandOverDeviceVisible]="isHandOverVisible" (closeHandOverModal)="toggleHandOverModal()"></app-handover>
  <app-device-log [isDeviceLogVisible]="isDeviceLogVisible" (closeDeviceLogModal)="toggleDeviceLogModal()"></app-device-log>
  <app-edit-device-prompt [isEditDeviceVisible]="isEditDeviceVisible" (closeEditModal)="toggleEditDeviceModal()" [formdata]="formData"></app-edit-device-prompt>

  <ag-grid-angular
      class="ag-theme-quartz w-[100%] h-96 "
      [rowData]="row_data"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [autoSizeStrategy]="autoSizeStrategy"
      rowSelection="multiple" 
      (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
>