<header>
    <nav class="bg-blue-300 border-gray-200 px-4 py-2.5 h-12">
        <div class="flex flex-wrap justify-between mx-auto max-w-screen-xl">
            <div class="flex flex-row">
                <img src="/assets/image.png" class="mt-1 h-5 mr-2" alt="Logo" />
                <span class="text-xl font-semibold mt-0.5">Device Tracker</span>
            </div>
            <div class="flex items-center">
                <img src="/assets/user.svg" class="h-6">
                <a href="#" class="font-bold rounded-lg text-sm  ">User</a>
            </div>
        </div>
    </nav>
</header>