<div class="fixed top-12 left-0 w-16 h-screen">
  <div class="h-full py-4 overflow-y-auto bg-blue-100 ">
    <ul class="space-y-2 font-medium">
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer">1</span>
      </li>
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer">2</span>
      </li>
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer">3</span>
      </li>
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer">4</span>
      </li>
    </ul>
  </div>
</div>
