<div class="fixed top-12 left-0 w-16 h-screen">
  <div class="h-full py-4 overflow-y-auto bg-blue-100 flex justify-center ">
    <ul class="space-y-2 font-medium ">
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer"><img src='/assets/home.svg'></span>
      </li>
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer"><img src='/assets/user.svg' height="30px" width="30px"></span>
      </li>
      <li>
        <span class="flex-1 ms-6 whitespace-nowrap cursor-pointer"><img src='/assets/device.svg'></span>
      </li> 
    </ul>
  </div>
</div>
